//unités base
$base-fontsize: 62.5%;// 10px div by def of 16px

//font
$logo-font: 'Shrikhand', cursive, sans-serif;
$text-font: 'Roboto', Arial, sans-serif;

//colors charte
$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;
//colors base
$black-color: #000000;
$white-color: #ffffff;
$grey-color: #353535;