//appartion d'une coche lors de l'ajout d'un plat
.menu
{
    &__validated 
    {
        width: 8.3rem;
        font-size: 2rem;
        background-color: $tertiary-color;
        color: white;
        @include flex-center;
        margin-right: -8.3rem;
        -webkit-transition-duration: 600ms;
        -o-transition-duration: 600ms;
        transition-duration: 600ms;
    }

    &__input:checked ~ .menu__validated
    {
        margin-left: 8.3rem;
        -webkit-transform: translateX(-8.3rem);
        -ms-transform: translateX(-8.3rem);
        transform: translateX(-8.3rem);
        -webkit-transition-duration: 600ms;
        -o-transition-duration: 600ms;
        transition-duration: 600ms;
    }

    &__input:checked ~ .menu__validated .fa-check-circle
    {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
        -webkit-transition-duration: 600ms;
        -o-transition-duration: 600ms;
        transition-duration: 600ms;
    }
}
